.Container {
  overflow-x: hidden;
  background-color: #f4f4f4;
}

.Link {
  text-decoration: none;
  color: #adadad;
}

.Link:hover {
  color: #1d1d1d;
}

.SidebarContent {
  cursor: pointer;
}

.SidebarContent,
.SidebarFooter {
  padding: 15px;
}

.SidebarContent:hover {
  background-color: #f4f4f4;
  color: #1d1d1d;
}

.SidebarHeader {
  padding: 20px;
}

.InputContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
}

.FormControlLeft,
.FormControlRight {
  width: 100%;
  border-color: #bfc4cf;
}

.FormControlLeft {
  margin-right: 40px;
}

.Dropdown {
  padding: 6px 12px;
  border-color: #bfc4cf;
  border-radius: 4px;
}

.Input {
  padding: 6px 12px;
  border: 1px solid #bfc4cf;
  border-radius: 4px;
}

.DatepickerContainer {
  display: flex;
  justify-content: space-between;
}

.Datepicker {
  padding: 6px 12px;
  border: 1px solid #bfc4cf;
  border-radius: 4px;
}

.CreateBtn {
  margin: 2em 0;
  text-align: center;
  cursor: pointer;
  letter-spacing: 1.5px;
  font-size: 1rem;
  padding: 0.5em 1em;
  border-radius: 4px;
  background-color: #f5bb5d;
  color: #ffffff;
  border: 1px solid #f5bb5d;
  text-decoration: none;
}

.CreateBtn:hover {
  color: #ffffff;
  background-color: #f1a01d;
  border: 1px solid #f1a01d;
}

.CreateBtn:active {
  color: #ffffff;
  background-color: #de8f0e;
  border: 1px solid #de8f0e;
}

.CardDiv,
.TableDiv {
  margin: 20px 0;
}

.FinancialSummary {
  height: 400px;
}

/* ===== MEDIA QUERIES ===== */
@media screen and (min-width: 981px) and (max-width: 1200px) {
  .InputContainer {
    flex-direction: column-reverse;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 769px) and (max-width: 980px) {
  .InputContainer {
    flex-direction: column-reverse;
  }
}

@media screen and (min-width: 641px) and (max-width: 768px) {
  .InputContainer {
    flex-direction: column-reverse;
    align-items: center;
  }

  .FormControlLeft,
  .FormControlRight {
    width: 100%;
  }
}

@media screen and (min-width: 551px) and (max-width: 640px) {
  .InputContainer {
    flex-direction: column-reverse;
    align-items: center;
  }

  .FormControlLeft,
  .FormControlRight {
    width: 100%;
  }
}

@media screen and (min-width: 471px) and (max-width: 550px) {
  .InputContainer {
    flex-direction: column-reverse;
    align-items: center;
  }

  .FormControlLeft,
  .FormControlRight {
    width: 100%;
  }

  .DatepickerContainer {
    display: flex;
    flex-direction: column;
  }

  .Datepicker {
    margin: 5px 0;
  }
}

@media screen and (min-width: 431px) and (max-width: 470px) {
  .InputContainer {
    flex-direction: column-reverse;
    align-items: center;
  }

  .FormControlLeft,
  .FormControlRight {
    width: 100%;
  }
}

@media screen and (min-width: 401px) and (max-width: 430px) {
  .InputContainer {
    flex-direction: column-reverse;
    align-items: center;
  }

  .FormControlLeft,
  .FormControlRight {
    width: 100%;
  }
}

@media screen and (min-width: 100px) and (max-width: 400px) {
  .InputContainer {
    flex-direction: column-reverse;
    align-items: center;
  }

  .FormControlLeft,
  .FormControlRight {
    width: 100%;
  }
}
