.Container {
  overflow-x: hidden;
  height: 100%;
}

.Link {
  text-decoration: none;
  color: #adadad;
}

.Link:hover {
  color: #1d1d1d;
}

.LogoBackground {
  background-color: #ffffff;
  border-right: 2px solid #f4f4f4;
}

.LogoImage {
  width: 70%;
  height: auto;
}

.SidebarContent {
  cursor: pointer;
}

.SidebarContent,
.SidebarFooter {
  padding: 15px;
}

.SidebarContent:hover {
  background-color: #f4f4f4;
  color: #1d1d1d;
}

.SidebarHeader {
  padding: 20px;
}
